@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Great+Vibes&display=swap');

/* Global resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Fonts */

body {
  font-family: Great Vibes, Cabin;
  line-height: 1.6;
  color: #333;
  background-color: #fff9f9; 
}